.section {
	background: var(--clr-grey-10);
}

.featured {
	margin: 4rem auto;
	display: grid;
	gap: 2.5rem;
}

.featured img {
	height: 225px;
}

.section .btn {
	display: block;
	width: 148px;
	margin: 0 auto;
	text-align: center;
	margin-top: 120px;
}

@media (min-width: 576px) {
	.featured {
		grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	}
}

@media screen and (min-width: 1280px) {
	.featured {
		position: relative;
		top: -5rem;
	}

	.section .btn {
		position: relative;
		top: -5rem;
	}
	/* .featured__container {
		position: relative;
		top: -5rem;
	} */
}
