.product-center {
	display: grid;
	gap: 4rem;
	margin-top: 2rem;
}

.product-center .price {
	color: var(--clr-primary-5);
}

.product-center .desc {
	line-height: 2;
	max-width: 45em;
}

.product-center .info {
	text-transform: capitalize;
	width: 300px;
	display: grid;
	grid-template-columns: 125px 1fr;
}

.product-center .info span {
	font-weight: 700;
}

@media (min-width: 992px) {
	.product-center {
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
	.product-center .price {
		font-size: 1.25rem;
	}
}
.detail-context {
	position: relative;
	top: -5rem;
}
